
.gologin {
  left: 29%;
  top: 46%;
  position: absolute;
  z-index: 1;
  transform: scale(2.8);
}

.gologout {
  left:80.5%;
  top: 0.75%;
  position: absolute;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background:#282c34;
  padding: 5px 16px;
  margin-bottom: 16px;
  height: 48px;
}

.navbar-logo {
  background-size:cover;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  gap: 30px;
  margin:5;
  align-items: center;
}

.navbar-menu li a{
  text-decoration: white;
  color: white;
}

img {
  width: 50px;
  height: 50px;
}

.profile-icon img {
  border-radius: 50%;
  transform: scale(.92);
}

.home-icon {
  transform: scale(1.25);

}

.loginbox {
  border-radius: 35px;
  display: flex;
  background-color: rgb(45, 37, 37);
  color: black;
  font-family: Akkurat;
  padding: 20px 20px 20px 20px;
  border: 4px solid rgb(0, 0, 0);
  height: 600px;
  width: 1000px;
  position: absolute;
  margin: auto;
  top: 10%;
  left: 15%;
  z-index: -1;
  overflow: hidden;
}

.innerloginbox {
  position: absolute;
  background-image: url('/public/loginstock.jpeg');
  max-height: 100%;
  max-width: 100%;
  height:600px;
  width: 50%;
  left: 50%;
  background-size: cover;
  display: flex;
  z-index: 1;
  transform: scale(1.08);
  border: 4px solid black;
  opacity: 60%;
}

.create-post {
  width: 75%;
  height: 751px;
  background-color: rgb(37, 33, 33);
  z-index: 1;
  left: 15%;
  position: absolute;
  border-radius: 20px;
}

.create-post button {
  background-color: bisque;
  border-radius: 20px;
  margin-left: 10px;
  position: relative;
  left: 17%;
  top: 24%;
}

.create-post label {
  background-color: bisque;
  border-radius: 20px;
  margin-left: 10px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 100px;
}

.create-post input {
  background-color: bisque;
  border-radius: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  position: absolute;
}

.create-post textarea {
  background-color: bisque;
  border-radius: 20px;
  margin-left: 10px;
  position: absolute;
  top: 13%;
  height: 21%;
  width: 25%;
}

h2 {
  color: wheat;
}

.profilewall {
  position: absolute;
  left:50%;
  top: 22%;
  z-index: 2;
  color: wheat;
}

.profilewall img {
  border-radius: 50%;
  transform: scale(4);
}

.profilewall h1 {
  transform: scale(2);
  top: 250%;
  left: -100%;
  position: absolute;
  width: 300px;
}

.profilewall h5 {
  transform: scale(2);
  top: 390%;
  left: 170%;
  position: absolute;
  width: 300px;
}

.feed {
  position: absolute;
  z-index: 2;
  left: 70%;
}

.feed h4 {
  width: 300px;
  color: azure;
  overflow: scroll;
  height:250px;
}