
.gologin {
  left: 29%;
  top: 46%;
  position: absolute;
  z-index: 1;
  transform: scale(2.8);
}

.gologout {
  left:80.5%;
  top: 0.75%;
  position: absolute;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background:#282c34;
  padding: 5px 16px;
  margin-bottom: 16px;
  height: 48px;
}

.navbar-logo {
  background-size:cover;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  gap: 30px;
  margin:5;
  align-items: center;
}

.navbar-menu li a{
  text-decoration: white;
  color: white;
}

img {
  width: 50px;
  height: 50px;
}

.profile-icon img {
  border-radius: 50%;
  transform: scale(.92);
}

.home-icon {
  transform: scale(1.25);

}

.loginbox {
  border-radius: 35px;
  display: flex;
  background-color: rgb(45, 37, 37);
  color: black;
  font-family: Akkurat;
  padding: 20px 20px 20px 20px;
  border: 4px solid rgb(0, 0, 0);
  height: 600px;
  width: 1000px;
  position: absolute;
  margin: auto;
  top: 10%;
  left: 15%;
  z-index: -1;
  overflow: hidden;
}

.innerloginbox {
  position: absolute;
  background-image: url('/public/loginstock.jpeg');
  max-height: 100%;
  max-width: 100%;
  height:600px;
  width: 50%;
  left: 50%;
  background-size: cover;
  display: flex;
  z-index: 1;
  transform: scale(1.08);
  border: 4px solid black;
  opacity: 60%;
}