
.gologin {
  left: 29%;
  top: 46%;
  position: absolute;
  z-index: 1;
  transform: scale(2.8);
}

.gologout {
  left:82%;
  top: 1%;
  position: absolute;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background:#282c34;
  padding: 5px 16px;
  margin-bottom: 16px;
  height: 48px;
}

.navbar-logo {
  background-size:cover;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  gap: 30px;
  margin:5;
  align-items: center;
}

.navbar-menu li a{
  text-decoration: white;
  color: white;
}

img {
  width: 50px;
  height: 50px;
}