body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 92, 0, 0.5);
  height:auto;
  background-image: url('/public/bg1.png');
  background-size:100%;
  background-position: center center;
  background-repeat:repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wall {
  width: 75%;
  height:751px;
  background-color: rgb(37, 33, 33);
  z-index:1;
  left: 15%;
  position: absolute;
  border-radius: 20px;

}